.hours-of-operation {
    background-color: #b9b7b6d1;
    padding: 20px;
    border-radius: 10px;
    color: #603f22;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    width: 70vw;
}

.hours-of-operation h4 {
    text-align: center;
    margin: 1.3rem;
}

.hours-of-operation table {
    width: 100%;
    text-align: left;
}

.hours-of-operation tbody {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.hours-of-operation tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-left: 1px solid;
}

.hours-of-operation td {
    padding: 5px;
    flex: 1;
}

.hours-of-operation tr:first-child {
    border-left: none;
}

.hours-of-operation tr:last-child {
    border-right: none;
}

.weekday {
    font-weight: bold;
  }