.start-now-section {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.start-now-section h1,
.start-now-section h2
{
  color: #603f22;
  font-size: 3rem;
  margin: 0.3rem;
}

.start-now-section .buttons {
  display: flex;
  gap: 1.25rem;
  border-radius: 0.2rem;
  margin: 1rem auto;
}

.start-now-section button {
  padding: 10px 20px;
  font-size: 2rem;
  border: none;
  font-weight: bold;
  border-radius: 2rem;
  color: #fffaf8;
  background-color: #4a726c;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 6px 11px 11px 0px #198c8c87;
  transition: transform 0.2s ease-in-out;
}

.start-now-section button:hover {
  transform: scale(1.05);
}