.quick-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.25rem;
  gap: 2.5rem;
  margin: 2rem auto 6rem;
  height: 5vh;
}

.quick-links div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quick-links a {
  text-decoration: none;
}

.quick-links button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; 
  background-color: #e3e6e4;
  color: #603f22;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: -5px 9px 7px 0px #7d9175;
  margin: 0.7rem;
  width: 12rem;
  background-image: linear-gradient(to bottom, #e3e6e4 0%, #b2b6b4 50%, #e3e6e4 100%);
  transition: transform 0.2s ease-in-out;
}

.quick-links button:hover {
  border: 2px solid #4a726c;
  background-color: #a2b594;
  color: #4a726c;
  transform: scale(1.1);
}

@media screen and (min-width: 2700px) {
  .quick-links {
    gap: 8rem;
  }

  .quick-links button {
    font-size: 1.5rem;
    width: 21rem;
  }
}

@media screen and (min-width: 2400px) and (max-width: 2800px) {
  .quick-links {
    gap: 5rem;
  }
}

@media screen and (max-width: 1490px)  {
  .quick-links {
    height: 15vh;
  }
}
