.quick-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.25rem;
  gap: 7rem;
  margin: 2rem auto 6rem;
}

.quick-links div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quick-links button {
  width: 12.5rem;
  height: 3rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  color: #4d321b;
  cursor: pointer;
  background: linear-gradient(359deg, #69635f, #c6c4c3);
  transition: transform 0.3s ease-in-out;
  box-shadow: 6px 11px 11px 0px #7d91756e;
}

.quick-links button:hover {
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 6px 11px 11px 0px #c6c4c3;
}